/* mui-data-tables default css over write */

/* .css-1ygcj2i-MuiTableCell-root {
  background-color: rgb(0, 0, 0);
} */

/* flex */

.flexS {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.flexPlatform {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.flexleft {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: auto;
}
.flexRight {
  display: flex;
  justify-content: right;
  align-items: center;
  overflow: auto;
}

.forgotCss {
font-family: "Roboto", "sans-serif" !important;
font-size: small !important;
font-weight: 600 !important;
text-transform: capitalize !important;
}

.platformData {
  max-height: 55vh;
  overflow: auto;
  overflow-x: hidden;
}

.css-1ygcj2i-MuiTableCell-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  /* font-size: 0.875rem; */
  font-size: small !important;
  /* font-size: 0.225rem !important; */
  /* line-height: 1.5rem; */
  line-height: 1rem !important;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: center;
  /* padding: 16px; */
  padding: 2px 16px 2px 16px !important;
  /* color: rgba(0, 0, 0, 0.87); */
  color: #fff !important;
}

.tss-gm6zfk-MUIDataTableHeadCell-fixedHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: #3f51b5 !important;
}

.MuiInputBase-input {
  /* font-size: 11px !important; */
  font-weight: 400;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  background: #f1f1f1;
  margin: 100px auto 0;
  /* word-break: break-all; */
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

/* asset status */
.activeClass {
  /* border: 1px solid rgb(24, 221, 6); */
  width: 100px;
  height: 26px;
  /* position: relative; */
  /* padding-left: 40px; */
  /* background-color: rgb(24, 221, 6); */
  /* font-size: 18px; */
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  color: rgb(21, 147, 10);
}
.activeClass,
.inactiveClass span {
  /* color: #fff; */
  font-size: 15px;
}
.inactiveClass {
  /* border: 1px solid rgb(255, 43, 35); */
  width: 100px;
  height: 26px;
  /* position: relative; */
  /* padding-left: 40px; */
  /* background-color: rgb(255, 43, 35); */
  color: rgb(255, 43, 35);
  /* font-size: 18px; */
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
}

/* .activeClassChild {
  margin-bottom: 20px;
} */

/* user Reserve server to user button */
.reserveBtnClass,
.releaseBtnClass {
  border: 1px solid rgb(0, 175, 67);
  width: 100px;
  height: 40px;
  /* position: relative; */
  /* padding-left: 40px; */
  background-color: rgb(0, 175, 67);
  color: #fff;
  font-size: 12px;
  padding-top: 3px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
}

.ppBtnClass {
  border: 1px solid rgb(1, 191, 229);
  width: 100px;
  height: 40px;
  background-color: rgb(1, 191, 229);
  color: #fff;
  font-size: 12px;
  padding-top: 3px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
}

/* add asset form detials styling */
.assetHeading {
  font-size: 12px !important;
}
.assignedStyle {
  /* font-size: 12px !important; */
  height: 1.5rem !important;
  width: 5.8rem;
}

.addServerBtnStyle {
  border: 1px solid #1a73e8 !important;
  background-color: #fff !important;
  color: #1a73e8 !important;
  /* margin-bottom: 10px; */
}
.addServerBtnStyle:hover {
  background-color: rgb(237, 237, 237) !important;
  color: #1763c6 !important;
}

.addserverbtn {
  display: flex !important;
    margin-bottom: 10px;
    margin-top: 8px;
    justify-content: flex-end;

}
.css-13xfq8m-MuiTabPanel-root {
  padding: 24px 0px 24px 0px !important;
}

.addassetform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.addasseth6 {
  display: flex;
  justify-content: left;
  /* margin-top: 20px !important; */
  /* color: #3f51b5; */
  /* font-size: 18px !important; */
  font-weight: 900 !important;
}

.subcanbtn {
  display: flex;
  justify-content: flex-end;
}

.addassetheaderline {
  border: 1px solid rgb(198, 198, 198);
  margin-top: 20px;
  border-radius: 8px;
  padding: 12px 14px;
  /* border-top-color: #3f51b5; */
  border-top: 8px solid #1a73e8;
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
}
.editassetheaderline {
  border: 1px solid rgb(198, 198, 198);
  margin-top: 20px;
  border-radius: 8px;
  padding: 2px 14px;
  /* margin-bottom: 10px; */
  /* border-top-color: #3f51b5; */
  border-top: 8px solid #1a73e8;
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
}

.platformheaderline{
  border: 1px solid rgb(198, 198, 198);
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 12px 14px;
  border-top: 8px solid #1a73e8;
}
.selectuserheaderline {
  /* border: 1px solid rgb(198, 198, 198); */
  margin-top: 4px;
  /* margin-bottom: 4px; */
  /* border-radius: 8px; */
  /* padding: 12px 14px; */
  /* border-top: 8px solid #1a73e8; */
}
/* @media (max-width: 400px){
.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.MuiOutlinedInput-input {
  padding: 75px;
}
} */